dish-item {
  display: flex;
  margin-bottom: 20px;
}

.dish-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.dish-details {
  display: flex;
  flex-direction: column;
}

.dish-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.dish-description {
  margin-top: 5px;
  margin-bottom: 10px;
}

.dish-rating {
  font-weight: bold;
}

.dish-equipments {
  margin-top: 5px;
}
